<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if username == "huy" %}
    <p>
        Name: {{users['huy'].name}}<br>
        Age: {{users['huy'].age}}
    </p>
    {% elif username == "tuananh"%}
    <p>
        Name: {{users['tuananh'].name}}<br>
        Age: {{users['tuananh'].age}}
    </p>
    {% else %}
    {{"User not found"}}
    {% endif %}
</body>
</html>