<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3> BIKE RENTAl SERVICE </h3> <br>
    {% for bike in all_bike %}
    <img src="{{bike['image']}}">
    <b>Model:</b> {{bike['model']}} <br>
    <b>Daily fee (VND):</b> {{bike['dailyfee']}}<br>
    <b>Year:</b>{{bike['year']}} <br>
    <hr>
    {% endfor %}
</body>
</html>