<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3> NEW BIKE </h3>
    <form method="POST">
        <label><b>Model</b></label><br>
        <input name = "model" type="text"><br>
        <label><b>Daily fee(VND)</b></label><br>
        <input name = "dailyfee" type="text"><br>
        <label><b>Image</b></label><br>
        <input name = "image" type="text"><br>
        <label><b>Year</b></label><br>
        <input name = "year" type="text"><br>
        <button>Submit</button>
    </form>
</body>
</html>